.contact {
	position: relative;
	padding: 30px;
	background-image: url("../img/medjugorie-mass.webp");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: var(--light-gray);
	z-index: 0;
}
.contact .contact-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.89);
	z-index: -5;
}
.contact .underline {
	background-color: var(--light-gray);
}
.contact h4 {
	font-size: 28px;
	color: var(--main-color);
}
.contact .contact-us {
	margin: 30px 0;
	font-size: 20px;
}
.contact a {
	text-decoration: underline;
	color: inherit;
}
.contact h6 {
	font-size: 19px;
}
