nav {
	display: none;
}

header {
	height: 100vh;
}
header.hero-img {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("../img/medjugorie-mass.webp");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;
}
header.hero-img h1 {
	margin-bottom: 20px;
	text-transform: uppercase;
	color: var(--white);
	letter-spacing: 2px;
	font-size: 36px;
}
header.hero-img p {
	color: var(--white);
	padding: 20px;
	font-size: 18px;
}
header.hero-img .hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	text-shadow: 0 0 20px #000;
}
header.hero-img .hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -5;
	background-color: rgba(0, 0, 0, 0.88);
}

@media screen and (min-width: 768px) {
	header.hero-img h1 {
		font-size: 44px;
	}
	header.hero-img p {
		font-size: 22px;
	}
}
