.information {
	background-color: var(--color-bg);
	color: var(--color-font-white);
}

.information .boxes {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	margin: 80px 0 80px;
}

.information .information-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
	width: 40%;
	min-width: 300px;
	height: 280px;
	background-color: var(--color-bg-lighter);
	border: var(--border);
	border-radius: 16px;
	box-shadow: #21212310 0px 7px 29px 0px;
}

.information .information-box::before {
	content: "DATA";
	position: absolute;
	left: 50%;
	top: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 40px;
	font-size: 20px;
	background-color: var(--color-bg);
	border: var(--border);
	border-radius: 0 0 16px 16px;
	transform: translateX(-50%);
}

.information .information-box:nth-child(2)::before {
	content: "CENA";
}

@media screen and (min-width: 1200px) {
	.information .information-box {
		height: 225px;
	}
}

.information .box-content {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 30px 0 0;

	h3 {
		background: var(--gradient-primary);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 900;
		letter-spacing: 2px;
		margin: 0;
	}
}

.information h3 {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

.information ul {
	list-style-type: none;
	text-align: center;
	padding: 10px 0px;
	font-size: 20px;
}

.information li {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-bg-lighter);
	padding: 30px 20px;
	text-align: center;
	margin: 20px 0;
	border-radius: 16px;
	box-shadow: #21212310 0px 7px 29px 0px;
	border: var(--border);

	.icon {
		border-radius: 50%;
		background-image: var(--gradient-primary);
	}

	i {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: white;
		font-size: 15px;
	}

	p {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 767px) {
	.information ul {
		text-align: left;
	}

	.information li {
		flex-direction: row;
		align-items: center;
	}
}

@media screen and (max-width: 767px) {
	.information .boxes {
		flex-direction: column;
		align-items: center;
	}
}
