.information .box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	margin: 80px 0 80px;
}

.information .information-box {
	padding: 10px 30px;
	width: 40%;
	min-width: 300px;
	height: 280px;
	box-shadow: var(--shadow);
	border-radius: 16px;
	background-color: #fff;
}
@media screen and (min-width: 1200px) {
	.information .information-box {
		height: 225px;
	}
}
.information .box-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.information .box-content {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 20px 0;

	h3 {
		position: absolute;
		top: -20px;
	}

	p {
		margin-top: 70px;
	}
}
@media screen and (min-width: 992px) {
	.information .box-content {
		p {
			margin-top: 30px;
		}
	}
}
.information i {
	font-size: 26px;
	color: var(--main-color);
}
.information h3 {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
.information h3.date {
	margin-top: 20px;
}
.information .information-cart-text {
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: -16px;
}

.information ul {
	list-style-type: none;
	text-align: center;
	padding: 10px 0px;
	font-size: 20px;
}

.information li {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	padding: 30px 20px;
	text-align: center;
	margin: 20px 0;
	border-radius: 16px;
	box-shadow: #21212310 0px 7px 29px 0px;

	i {
		width: 30px;
		height: 30px;
		background-color: var(--main-color);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: white;
		font-size: 15px;
	}

	p {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 767px) {
	.information h3.date {
		margin-top: 0;
	}

	.information ul {
		text-align: left;
	}

	.information li {
		flex-direction: row;
		align-items: center;
	}
}

@media screen and (max-width: 767px) {
	.information .box {
		flex-direction: column;
		align-items: center;
	}
}
