* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--main-color: #039dff;
	--bg-color: #ebecf2;
	--white: #fff;
	--light-gray: #ddd;
	--shadow: #21212310 0px 7px 29px 0px;
}
html {
	overflow-x: hidden;
}
body {
	background-color: var(--bg-color);
	font-family: "Montserrat", sans-serif;
	color: #000;
	overflow-x: hidden !important;
}
.blue-text {
	color: var(--main-color);
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.9);
}
.section-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 34px;
}
.underline {
	width: 60px;
	height: 4px;
	margin: 0 auto 40px;
	background-color: var(--main-color);
}
