* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--main-color: #039dff;
	--bg-color: #ebecf2;
	--white: #fff;
	--light-gray: #ddd;
}
html {
	overflow-x: hidden;
}
body {
	background-color: var(--bg-color);
	font-family: "Montserrat", sans-serif;
	color: #000;
	overflow-x: hidden !important;
}
.blue-text {
	color: var(--main-color);
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.9);
}
.section-title {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	width: 60px;
	height: 4px;
	margin: 0 auto 40px;
	background-color: var(--main-color);
}
header.hero-img {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("../img/medjugorie-mass.webp");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;
}
header.hero-img h1 {
	margin-bottom: 20px;
	text-transform: uppercase;
	color: var(--white);
	letter-spacing: 2px;
}
header.hero-img p {
	color: var(--white);
}
header.hero-img .hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	text-shadow: 0 0 20px #000;
}
header.hero-img .hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -5;
	background-color: rgba(0, 0, 0, 0.88);
}
header.hero-img .fa-chevron-down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	translate: -50%;
	font-size: 30px;
	color: var(--white);
}

.about-us i {
	margin-top: 20px;
	font-size: 26px;
}
.about-us .about-us-cart-title {
	font-size: 18px;
	text-transform: uppercase;
}
.about-us .about-us-cart-text {
	font-size: 14px;
}
.about-us .about-us-hover {
	transition: color 0.2s;
}
.about-us .about-us-hover:hover {
	color: var(--main-color);
}
.about-us .price-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	margin: 40px 0 100px;
}
.about-us .about-us-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 40%;
	min-width: 300px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 10px;

	h3 {
		text-align: center;
	}
}
.prices .price-box {
	margin: 20px;
	padding: 40px 40px;
	background: var(--white);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: scale 0.3s;
}
.prices .price-box span {
	font-weight: bold;
}
.prices .price-box i {
	font-size: 24px;
	padding: 0 5px;
}
.prices .price-box button {
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 20px;
}
.prices .price-box:hover {
	scale: 1.03;
}
.prices .price-title {
	color: var(--main-color);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
.prices .price-tag {
	font-size: 30px;
	font-weight: bold;
}
.prices .price-info {
	margin-top: 30px;
}
.prices .price-info a {
	text-decoration: none;
}
.journey-schedule {
	display: flex;

	 div {
		border-radius: 10px;
	}
}
.contact {
	position: relative;
	background-image: url("../img/medjugorie-mass.webp");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: var(--light-gray);
	z-index: 0;
}
.contact .contact-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.88);
	z-index: -5;
}
.contact .underline {
	background-color: var(--light-gray);
}
.contact .contact-us {
	margin: 30px 0;
}
.contact h3 {
	margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.contact i {
	font-size: 26px;
	color: var(--light-gray);
	transition: color 0.25s;
}
.contact i:hover {
	color: var(--main-color);
}

.contact a {
	text-decoration: underline;
	color: inherit;
}

@media (min-width: 768px) {
	.hero-text h1 {
		font-size: 42px;
	}
	.hero-text p {
		font-size: 20px;
	}
}
@media (min-width: 992px) {
	html {
		scroll-padding-top: 72px;
	}
	.contact-us .social-media {
		order: 2;
	}
	.contact-us .place-main {
		order: 1;
	}
	.contact-us .place-cracow {
		order: 3;
	}
}
