* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--main-color: #039dff;
	--bg-color: #ebecf2;
	--white: #fff;
	--light-gray: #ddd;
}
html {
	overflow-x: hidden;
}
body {
	background-color: var(--bg-color);
	font-family: "Montserrat", sans-serif;
	color: #000;
	overflow-x: hidden !important;
}
.blue-text {
	color: var(--main-color);
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.9);
}
.section-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 34px;
}
.underline {
	width: 60px;
	height: 4px;
	margin: 0 auto 40px;
	background-color: var(--main-color);
}
nav {
	display: none;
}

header {
	height: 100vh;
}
header.hero-img {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("../img/medjugorie-mass.webp");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;
}
header.hero-img h1 {
	margin-bottom: 20px;
	text-transform: uppercase;
	color: var(--white);
	letter-spacing: 2px;
	font-size: 36px;
}
header.hero-img p {
	color: var(--white);
	padding: 20px;
	font-size: 18px;
}
header.hero-img .hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	text-shadow: 0 0 20px #000;
}
header.hero-img .hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -5;
	background-color: rgba(0, 0, 0, 0.88);
}

.about-us .about-us-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px 30px;
	width: 40%;
	min-width: 300px;
	min-height: 250px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 10px;
}
.about-us i {
	font-size: 26px;
	color: var(--main-color);
}
.about-us h3 {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
.about-us .about-us-cart-text {
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: -16px;
}
.about-us .about-us-hover {
	transition: color 0.2s;
}
.about-us .about-us-hover:hover {
	color: var(--main-color);
}
.about-us .price-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	margin: 80px 0 80px;
}
.about-us ul {
	list-style-type: none;
	text-align: center;
	padding-left: 0;
	padding: 10px 30px;
	font-size: 20px;
}

.prices .price-box {
	margin: 20px 10px;
	padding: 40px 40px;
	background: var(--white);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: scale 0.3s;
}
.prices .price-box span {
	font-weight: bold;
}
.prices .price-box hr {
	margin-bottom: 30px;
}
.prices .price-box:hover {
	scale: 1.03;
}
.prices .price-box p {
	font-size: 20px;
}
.prices .price-box .price-title {
	color: var(--main-color);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
}
.prices .price-info {
	margin-top: 30px;
}
.journey-schedule {
	display: flex;

	div {
		border-radius: 10px;
	}
}

.contact {
	position: relative;
	padding: 30px;
	background-image: url("../img/medjugorie-mass.webp");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: var(--light-gray);
	z-index: 0;
}
.contact .contact-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.89);
	z-index: -5;
}
.contact .underline {
	background-color: var(--light-gray);
}
.contact h4 {
	font-size: 28px;
	color: var(--main-color);
}
.contact .contact-us {
	margin: 30px 0;
	font-size: 20px;
}
.contact a {
	text-decoration: underline;
	color: inherit;
}
.contact h6 {
	font-size: 19px;
}

@media screen and (min-width: 768px) {
	header.hero-img h1 {
		font-size: 44px;
	}
	header.hero-img p {
		font-size: 22px;
	}
}
